/* CSS Document */
.device-ico{ background:url(../images/ico/device-ico.png) no-repeat; width:50px; height:16px; display:inline-block;*display:inline;zoom:1; margin:2px;}
.RID_DLinkAP_adv{ background-position:0 -873px;}
.RID_WindowHost_adv,.RID_WindowHost_advadv,.RID_WindowHost_agent,.RID_WindowHost_agentadv,.RID_WindowHost_snmp{ background-position: 0 -16px;}
.RID_RuijieSwitch_adv{ background-position: 0 -32px;}
.RID_MySql_adv{ background-position: 0 -48px;}
.RID_LinuxHost_adv,.RID_LinuxHost_advadv,.RID_LinuxHost_advagent,.RID_LinuxHost_advagentadv,.RID_LinuxHost_snmp,.RID_LinuxHost_telnetadv,.RID_LinuxHost_telnet{ background-position: 0 -64px;}
.RID_Quidway3com_adv,.RID_Quidway3comFireWall_adv{ background-position: 0 -80px;}
.RID_QuidwayFirewall_adv,.RID_QuidwaySwitch_adv{ background-position: 0 -96px;}
.RID_HpUxHost_advadv{ background-position: 0 -112px;}
.RID_HpMemproc_adv,.RID_HPstoreDevice_adv{ background-position: 0 -128px;}
.RID_Dlink_adv{ background-position: 0 -144px;}
.RID_CiscoASAFirewall_adv,.RID_CiscoFirewall_adv,.RID_Router_adv,.RID_Switch_adv{ background-position: 0 -160px;}
.RID_AixHost_adv,.RID_AixHost_advadv,.RID_AixHost_advagent,.RID_AixHost_advagentadv,.RID_AixHost_snmp,.RID_AixHost_telnet,.RID_AixHost_telnetadv{ background-position: 0 -176px;}

.RID_CustomModel{ background-position: 0 0px;}
.RID_Common_Network_adv{ background-position: 0 -2024px;}
.RID_NetworkNode{ background-position: 0 -2008px;}

.RID_ApacheHTTPServer_base{ background-position: 0 -208px;}
.RID_DB2_base{ background-position: 0 -228px;}
.RID_Exchange2007Server_base_2,.RID_ExchangeServer_base{ background-position: 0 -244px;}
.RID_AS400Host_itm,.RID_DominoApp_itm,.RID_Oracle_itm,.RID_UnixHost_itm,.RID_WindowHost_itm{ background-position: 0 -262px;}
.RID_IISApp_base{ background-position: 0 -278px;}
.RID_Informix_agent,.RID_Informix_base{ background-position: 0 -294px;}
.RID_JbossV4_base{ background-position: 0 -311px;}
.RID_DominoApp_adv,.RID_DominoApp_base,.RID_DominoMailApp_adv,.RID_DominoMailApp_agent,.RID_DominoMailApp_base{ background-position: 0 -330px;}
.RID_Oracle_adv,.RID_Oracle_agent,.RID_Oracle_base,.RID_Oracle_baseagent,.RID_OracleAS10g_base,.RID_OracleAS10gv102_base{ background-position: 0 -346px;}
.RID_PostgreSql_adv{ background-position: 0 -362px;}
.RID_ResinV30_base{ background-position: 0 -378px;}
.RID_SqlServer2000_agent,.RID_SqlServer2000_base,.RID_SqlServer2005_agent,.RID_SqlServer2005_base,.RID_SqlServer2008_agent,.RID_SqlServer2008_base{ background-position: 0 -396px;}
.RID_SunldapV62_base{ background-position: 0 -415px;}
.RID_Sybase_adv,.RID_Sybase_base{ background-position: 0 -432px;}
.RID_Tomcat_agent,.RID_Tomcat_base{ background-position: 0 -448px;}
.RID_WlsV9_agent,.RID_WlsV9_base,.RID_WlsV8_base{ background-position: 0 -465px;}
.RID_Was_v5_WebSphere_AS_adv,.RID_Was_v5_WebSphere_AS_base,.RID_Was_v6_WebSphere_AS_adv,.RID_Was_v6_WebSphere_AS_base,.RID_Was_v61_WebSphere_AS_base{ background-position: 0 -481px;}


.RID_6889_Avaya_adv,.RID_Avaya{ background-position: 0 -500px;}
.RID_ApusicAS_base{ background-position: 0 -520px;}
.RID_SunONE_AS_v7_base,.RID_SunldapV62_base{ background-position: 0 -535px;}
.RID_MailServer{ background-position: 0 -554px;}
.RID_Application_adv{ background-position: 0 -575px;}
.RID_DNS{ background-position: 0 -595px;}
.RID_Ftp{ background-position: 0 -620px;}
.RID_Ntpserver_base{ background-position: 0 -641px;}
.RID_Ping{ background-position: 0 -661px;}
.RID_Port{ background-position: 0 -681px;}
.RID_RtmBizProcess{ background-position: 0 -703px;}
.RID_Trace,.RID_traceroute_logo{ background-position: 0 -728px;}
.RID_URL{ background-position: 0 -749px;}
.RID_22274_TSINGHUA_Storage_adv{ background-position: 0 -769px;}
.RID_NetApp_adv{ background-position: 0 -789px;}
.RID_StorageEmc_adv{ background-position: 0 -810px;}
.RID_StorageIBMNAS_adv{ background-position: 0 -832px;}
.RID_Tongyou_adv{ background-position: 0 -852px;}
.RID_45_NtlSO_Switch_adv,.RID_1872_NortelAlteon_Switch_adv,.RID_2272_NtlRD_Switch_adv,.RID_NortelVPN_adv{ background-position: 0 -893px;}
.RID_3902_ZTE_Switch_adv{ background-position: 0 -913px;}
.RID_6339_DigitalChina_Swtich_adv{ background-position: 0 -934px;}
.RID_6486_Alcatel_adv{ background-position: 0 -955px;}
.RID_7564_ArrayNetwork_adv{ background-position: 0 -975px;}
.RID_8072_Maxnet_Network_adv{ background-position: 0 -996px;}
.RID_9822_SHGD_Switch_adv{ background-position: 0 -1019px;}
.RID_9833_Lenovo_Firewall_adv{ background-position: 0 -1038px;}
.RID_24968_Secworld_Firewall_adv{ background-position: 0 -1058px;}
.RID_ANTSwitch_adv{ background-position: 0 -1080px;}
.RID_ArubaNetwork_adv{ background-position: 0 -1098px;}
.RID_Bdcom_adv{ background-position: 0 -1118px;}
.RID_CeragonSwitch_adv{ background-position: 0 -1140px;}
.RID_CPE{ background-position: 0 -1185px;}
.RID_DasanSwitch_adv{ background-position: 0 -1208px;}
.RID_F5BigIP_adv{ background-position: 0 -1228px;}
.RID_Force10Switch_adv{ background-position: 0 -1248px;}
.RID_FortinetFirewall_adv{ background-position: 0 -1268px;}
.RID_FounderFirewall_adv{ background-position: 0 -1288px;}
.RID_Foundry_adv{ background-position: 0 -1306px;}
.RID_Harbour_adv,.RID_HarbourRouter_adv{ background-position: 0 -1324px;}
.RID_IceEye_adv,.RID_IceEyeNips_adv{ background-position: 0 -1340px;}
.RID_Juniper_adv,.RID_JuRouter_adv{ background-position: 0 -1356px;}
.RID_MaipuEND_adv{ background-position: 0 -1372px;}
.RID_MRVSwitch_adv{ background-position: 0 -1392px;}
.RID_NetApp_adv{ background-position: 0 -1412px;}
.RID_NetScreen_adv{ background-position: 0 -1432px;}
.RID_NGFW4000_Topsec_adv,.RID_Topsec_adv{ background-position: 0 -1454px;}
.RID_NokiaIPSO_adv{ background-position: 0 -1472px;}
.RID_Orinoco_adv{ background-position: 0 -1488px;}
.RID_Radware_adv{ background-position: 0 -1505px;}
.RID_RiverStone_adv{ background-position: 0 -1525px;}
.RID_Sanycom_adv{ background-position: 0 -1547px;}
.RID_SonicWALLFirewall_adv{ background-position: 0 -1567px;}
.RID_SuperStack_adv{ background-position: 0 -1585px;}
.RID_Tainet_adv{ background-position: 0 -1604px;}
.RID_VictoryIdea_adv{ background-position: 0 -1624px;}
.RID_Watchguard_adv{ background-position: 0 -1645px;}
.RID_apusic{ background-position: 0 -1666px;}
.RID_Cics_base{ background-position: 0 -1688px;}
.RID_MQ_advagent{ background-position: 0 -1709px;}
.RID_TLQ_base{ background-position: 0 -1726px;}
.RID_Tux_base{ background-position: 0 -1747px;}
.RID_ScoUnixHost_adv,.RID_ScoUnixHost_agent,.RID_ScoUnixHost_telnet{ background-position: 0 -1774px;}
.RID_ScoOpenServer_adv,.RID_ScoOpenServer_agent,.RID_ScoOpenServer_telnet{ background-position: 0 -1798px;}
.RID_SolarisHost_adv,.RID_SolarisHost_advadv,.RID_SolarisHost_advagent,.RID_SolarisHost_advagentadv,.RID_SolarisHost_snmp,.RID_SolarisHost_telnet,.RID_SolarisHost_telnetadv{ background-position: 0 -1823px;}
.RID_AgentlessLinux_adv{ background-position: 0 -1845px;}
.RID_AS400Host_adv{ background-position: 0 -1869px;}
.RID_freebsd{ background-position: 0 -1893px;}
.RID_HpOpenVms_telnet{ background-position: 0 -1915px;}
.RID_MontaVistaLinux_adv{ background-position: 0 -1934px;}
.RID_NovellHost_snmp{ background-position: 0 -1954px;}
.RID_WindRiverLinux_adv{ background-position: 0 -1976px;}

.RID_WpsV5_adv,.RID_WpsV5_base,.RID_WpsV6_adv,.RID_WpsV6_base{ background-position: 0 -1992px;}
