/* CSS Document for manage console by zhangyu */
.manage-content{ overflow:hidden;margin:0 auto;color:#464646;}
.manage-content .left-content{ float:left; overflow:hidden;margin:6px;width:200px;}
.manage-content .right-content{overflow:hidden; margin:6px; float:left;width:77%;}

.manage-content .top-l{ background:url(../images/window/manage.png) left 0px no-repeat; font-size:0px;padding-left:5px;font-size:0px;}
.manage-content .top-r{ background:url(../images/window/manage.png) right -6px no-repeat; font-size:0px;padding-right:5px;font-size:0px;}
.manage-content .top-m{ background:url(../images/window/manage.png) left -3px repeat-x;height:3px;font-size:0px;}
.manage-content .mid{padding:5px; background:#fff url(../images/window/manage.png) left -15px repeat-x;overflow:hidden;zoom:1; }
.manage-content .mid .indentation{margin:0 6px;vertical-align:middle;}

.manage-content .bottom-l{ background:url(../images/window/manage.png) left -9px no-repeat;padding-left:5px; font-size:0px;}
.manage-content .bottom-r{ background:url(../images/window/manage.png) right -12px no-repeat; font-size:0px;padding-right:5px;}
.manage-content .bottom-m{ background-color:#FFFFFF;height:3px; font-size:0px;}

/*¼ìË÷ico*/
.search-ico{ background:url(../images/ico/chaxunt.gif) no-repeat;display:inline-block;*display:inline;zoom:1;width:18px;height:18px; vertical-align:middle;margin:0 4px 0 0;}

