
/*业务服务左侧工具*/
.service-tool{overflow:hidden; background:url(../images/service-leftbg.png) repeat-y scroll 0 0 transparent;width:32px;height:660px;float:left;}
.service-tool li{margin:15px 0px 15px; }
.service-tool .normal{width:20px; height:19px;display:block;*display:inline;zoom:1;padding:2px 0px 0px 6px;}
.service-tool .on{ background:url(../images/service-lefttool-bg.png) no-repeat scroll transparent;width:20px; height:19px;display:block;*display:inline;zoom:1; padding:2px 0px 0px 6px;}
.service-tool-ico{width:16px; height:16px; background:url(../images/ico/service-tool-ico.png) 0 0; display:block;*display:inline;zoom:1; text-align:center;cursor:pointer;  vertical-align:text-bottom;}
.service-tool-ico-navi{ background-position:0 0;}
.service-tool-ico-jk{ background-position:0 -16px;}
.service-tool-ico-yx{ background-position:0 -32px;}
.service-tool-ico-fx{ background-position:0 -48px;}
.service-tool-ico-yl{ background-position:0 -64px;}
.service-tool-ico-yilan{ background-position:0 -80px;}
.service-tool-ico-setting{ background-position:0 -96px;}

.bar{ font-size:0px;width:8px; background:url(../images/bar-bg.gif) repeat-y; vertical-align:middle;margin:auto;}
.bar-left{ position:relative;top:46%; background:url(../images/retract.png) left top no-repeat;width:8px; cursor:pointer;height:36px;}
.bar-right{ position:relative;top:46%;  background:url(../images/retract.png) -8px top no-repeat;width:8px; cursor:pointer;height:36px;}

.state{ width:16px;height:16px;background:url(../images/ico/states.gif) 0 0; display:inline-block;*display:inline;zoom:1; margin-left:3px; cursor:pointer;}
.state-use{ background-position:left top;}
.state-unuse{ background-position:left -16px;}

.service-bottom{ background:url(../images/table/service-bottom-bg.png) 0 0 repeat-x;height:26px;padding-left:20px;}
.service-bottom ul li{display:inline-block;*display:inline;zoom:1;margin:6px 8px 0 8px;color:#FFFFFF;float:left;}
.service-bottom ul li .title{font-weight:700;}
.service-bottom ul li a{text-decoration:underline;color:#FFFFFF;}